<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%6r %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="showcase" level="debug"/>

    <logger name="jdbc.audit" level="off"/>
    <logger name="jdbc.resultset" level="off"/>
    <logger name="jdbc.sqltiming" level="off"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
